{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "env": { "jest": true },
  "rules": {
    "global-require": "off",
    "semi": ["error", "never"],
    "no-unused-vars": ["error", { "varsIgnorePattern": "^h$" }],
    "import/no-dynamic-require": "off"
  }
}